/* JKBX Stylesheet */

@import "mixins";
@fontSans: sans-serif;
@fontIcon: 'entypo';
@teal: saturate(#1C788F, 10%);
@red: darken(red, 10%);


/* Icon Font */
@font-face {
	font-family: 'entypo';
	src: url('/css/entypo.eot');
	src: url('/css/entypo.eot?#iefix') format('embedded-opentype'),
	     url('/css/entypo.woff') format('woff'),
	     url('/css/entypo.ttf') format('truetype'),
	     url('/css/entypo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	.boxsizing();
}

a {
	text-decoration: none;
	color: inherit;
	.transition();
}

body {
	margin: 0;
	font-family: @fontSans;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  > section {
	margin: 0 auto;
	max-width: 900px;
  }
}

#now-playing-wrapper {
	background-color: #333;
	color: white;
	padding-top: 2em;
	#now-playing {
		padding: .5em;
		background-color: #222;
		font-size: 1.7em;
		.rounded(3px 3px 0 0);
		.clearfix();
		> img, > div {
			float: left;
		}
		>img {
			.rounded(2px);
		}
		> div {
			padding-left: 1em;
			padding-top: .5em;
			max-width: 79%;
		}
	}
	p {
		font-size: .5em;
		text-transform: uppercase;
		color: #999;
	}
	h2 {
		margin-top: .1em;
		font-size: 1.4em;
		.text-ellipsis();
	}
}

#playlist-wrapper {
	background-color: #eee;
	min-height: 500px;
}

#playlist {
	list-style: none;
	> li {
		background: #fff;
		padding: 1em;
		border-top: 1px solid #ddd;
		.clearfix();
		&:first-child {
			border-top: 0;
		}
		h2 {
			float: left;
			width: 75%;
			font-weight: 100;
		}
		> aside {
			float: right;	
			width: auto;
			text-align: right;
			div {
				float: right;
			}	
		}
	}
	h2 {
		line-height: 1.4;
		a {
			&:hover {
				color: @teal;
			}
		}
	}
}

.songbox aside {
	height: 36px;
	* {
		float: left;
	}
	//Count
	span {
		display: block;
		height: 27px;
		padding: 8px 15px 0;
		font-weight: bold;
		font-size: 1.2em;
		color: #555;
	}
	//Buttons
	a {
		display: block;
		position: relative;
		padding: 7px 10px;
		font-family: @fontIcon;
		font-size: 3em;
		text-indent: -4px;
		background-color: white;
		.rounded(50%);
		width: 35px;
		height: 35px;
		color: #999;
		border: 2px solid #eee;
		&.upvote {
			line-height: .35;
			&:hover, &:active {
				border-color: @teal;
				color: @teal;
			}
			&:active {
				background-color: @teal;
				color: white;
			}
		}
		&.downvote {
			line-height: .4;
			&:hover, &:active {
				border-color: @red;
				color: @red;
			}
			&:active {
				background-color: @red;
				color: white;
			}
		}
	}
}

/* Playlist Counter */

#playlist {
	counter-reset: li;
	li {
		position: relative;
		&:before {
			content: counter(li);
		    counter-increment: li;
		    position: absolute;
		    left: -1.25em;
		    top: 1.35em;
		    color: #aaa;
		}
	}
}


section#vote-time {
	position: relative;
	padding: 0;
	background-color: #555;
	height: 6px;
	overflow: visible;
	border-top: 1px solid #666;
	> div {
		position: absolute;
		width: 75%;
		left: 0;
		bottom: 0;
		height: 6px;
		background-color: #1C788F;
		.gradient(fadeout(white, 80%), fadeout(white, 100%))
	}
}


