/* JKBX Stylesheet */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Icon Font */
@font-face {
  font-family: 'entypo';
  src: url('../css/entypo.eot');
  src: url('../css/entypo.eot?#iefix') format('embedded-opentype'), url('../css/entypo.woff') format('woff'), url('../css/entypo.ttf') format('truetype'), url('../css/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.icon {
  display: inline-block;
  margin-right: 3px;
  font-family: 'entypo';
  width: 16px;
  height: 16px;
  font-size: 2.5em;
  font-style: normal;
  line-height: .65;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.container > section {
  margin: 0 auto;
  max-width: 900px;
}
#now-playing-wrapper {
  background-color: #333;
  color: white;
  padding-top: 2em;
}
#now-playing-wrapper #now-playing {
  padding: .5em;
  background-color: #222;
  font-size: 1.7em;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  zoom: 1;
}
#now-playing-wrapper #now-playing:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#now-playing-wrapper p {
  font-size: .5em;
  text-transform: uppercase;
  color: #999;
}
#now-playing-wrapper h2 {
  margin-top: .1em;
  font-size: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#now-playing-thumbnail {
  float: left;
  width: 21%;
}
#now-playing-thumbnail img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  max-width: 100%;
}
#now-playing-title {
  float: left;
  padding-left: 1em;
  padding-top: .5em;
  max-width: 79%;
}
#playlist-wrapper {
  background-color: #eee;
  min-height: 500px;
}
#playlist {
  list-style: none;
}
#playlist > li {
  background: #fff;
  padding: 1em;
  border-top: 1px solid #ddd;
  zoom: 1;
}
#playlist > li:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#playlist > li:first-child {
  border-top: 0;
}
#playlist > li h2 {
  float: left;
  width: 75%;
  font-weight: 100;
}
#playlist > li > aside {
  float: right;
  width: auto;
  text-align: right;
}
#playlist > li > aside div {
  float: right;
}
#playlist h2 {
  line-height: 1.4;
}
#playlist h2 a:hover {
  color: #137d98;
}
.songbox aside {
  height: 36px;
}
.songbox aside * {
  float: left;
}
.songbox aside span {
  display: block;
  height: 27px;
  padding: 8px 15px 0;
  font-weight: bold;
  font-size: 1.2em;
  color: #555;
}
.songbox aside a {
  display: block;
  position: relative;
  padding: 7px 10px;
  font-family: 'entypo';
  font-size: 3em;
  text-indent: -4px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #999;
  border: 2px solid #eee;
}
.songbox aside a.upvote {
  line-height: .35;
}
.songbox aside a.upvote:hover,
.songbox aside a.upvote:active {
  border-color: #137d98;
  color: #137d98;
}
.songbox aside a.upvote:active {
  background-color: #137d98;
  color: white;
}
.songbox aside a.downvote {
  line-height: .4;
}
.songbox aside a.downvote:hover,
.songbox aside a.downvote:active {
  border-color: #cc0000;
  color: #cc0000;
}
.songbox aside a.downvote:active {
  background-color: #cc0000;
  color: white;
}
/* Playlist Counter */
#playlist {
  counter-reset: li;
}
#playlist li {
  position: relative;
}
#playlist li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.75em;
  top: 1.35em;
  color: #aaa;
  width: 35px;
  text-align: right;
}
section#vote-time {
  position: relative;
  padding: 0;
  background-color: #555;
  height: 6px;
  overflow: visible;
  border-top: 1px solid #666;
}
section#vote-time > div {
  position: absolute;
  width: 75%;
  left: 0;
  bottom: 0;
  height: 6px;
  background-color: #1C788F;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.19999999999999996) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.19999999999999996)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.19999999999999996) 0%, rgba(255, 255, 255, 0), 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.19999999999999996) 0%, rgba(255, 255, 255, 0), 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.19999999999999996) 0%, rgba(255, 255, 255, 0), 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.19999999999999996) 0%, rgba(255, 255, 255, 0), 100%);
}
footer#submit-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: #eee;
  -webkit-box-shadow: 0 -20px 20px #eeeeee;
  -moz-box-shadow: 0 -20px 20px #eeeeee;
  box-shadow: 0 -20px 20px #eeeeee;
}
footer#submit-footer section {
  padding: 1em;
  background-color: #222;
  zoom: 1;
}
footer#submit-footer section:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
footer#submit-footer input[type="text"] {
  float: left;
  font-size: 1em;
  border: 0;
  padding: .6em;
  background: #444;
  width: 75%;
  color: #ccc;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer#submit-footer input[type="text"]:focus {
  background: #555;
  color: white;
  outline: none;
}
footer#submit-footer button {
  -webkit-appearance: none;
  float: right;
  width: 23%;
  border: 0;
  padding: .5em;
  font-size: 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #137d98;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
}
footer#submit-footer button .icon {
  font-weight: normal;
  line-height: .5;
  margin-left: 10px;
}
@media handheld, only screen and (max-width: 48em) {
  .container {
    padding: 0;
  }
  #now-playing-wrapper {
    padding-top: 0;
  }
  #now-playing-thumbnail {
    width: 35%;
  }
  #now-playing-title {
    width: 65%;
    font-size: .7em;
    padding-top: 0;
  }
  #now-playing-title h2 {
    font-size: .8em;
    margin-top: .5em;
  }
  #now-playing-title i.icon {
    margin-right: 0;
    height: 12px;
  }
  #playlist > li:before {
    position: relative;
    top: 8px;
    left: -8px;
    display: block;
    float: left;
    width: auto;
    font-size: .8em;
  }
  #playlist > li h2 {
    width: 60%;
    font-size: .9em;
    margin-top: .5em;
  }
}
